* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #53565A;
}

form {
    display: block;
    position: relative;
}

form::after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #4aeb9a, #8c13f0);
}

form .form-inner {
    position: relative;
    display: block;
    background-color: #FFF;
    padding: 30px;
    z-index: 2;
}

form .form-inner h2{
    color: rgba(46, 40, 40, 0.842);
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
}

form .form-inner .form-group{
   display: block;
   width: 300px;
   margin-bottom: 15px;
}

.form-inner .form-group label {
    display: block;
    color: #666;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner.form-group:focus-within label {
    color: #FE4880;
}

form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #F8F8F8;
    border-radius: 8px;
    transition: 0.4s;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"], .welcome button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #b5f073, #FFCE00, #e633dd);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

form .form-inner input[type="submit"]:hover, .welcome button:hover {
    background-position: 100% 0%;
}

.welcome {
    width: 100%;
    height: 100%;
    /* max-width: 480px; */
    background-image: linear-gradient(to right, #eddcd9, #f2ebe9, #f6e9d7);
    padding: 15px 30px;
}

.welcome h2 {
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.welcome h2 span {
    color: #FE4880;
    font-weight: 700;
}

.container-fluid h2{
  color: rgba(70, 25, 231, 0.842);
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}

/* Questions */
.container .row .col h4 {
  color: #00ABA9;
  font-weight: bold;
  font-size: larger;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
}


/* Timer */
.clock-holder {
    width: 100%;
    background: #fff;
    margin: 30px auto;
    position: relative;
    left: 300 px;
  }
  
  
  .stopwatch {
    padding: 60px 0px;
    text-align: center;
  }
  .stopwatch span{
    background:#C85454;
    color: #fff;
    display: inline-block;
    font-family: monospace;
    font-size: 22px;
    padding: 20px;
    border-radius: 5px;
    width: 70px;
  }
  
  .stopwatch .stopwatch-btn {
    background: #fff;
    margin-top: 30px;
    margin-left: 5px;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    text-transform: uppercase;
    width: 150px;
    transition: background 1s;
    cursor: pointer;
  }
  .stopwatch .stopwatch-btn-red{
    border: 2px solid #C85454;
    color: #C85454;
  }
  .stopwatch .stopwatch-btn-yel{
    border: 2px solid #FFC900;
    color: #FFC900;
  }
  
  .stopwatch .stopwatch-btn-gre{
    border: 2px solid #00ABA9;
    color: #00ABA9;
  }
  .stopwatch .stopwatch-btn-red:hover {
    background: #C85454;
    border: 2px solid #C85454;
    color: #fff;
  }
  .stopwatch .stopwatch-btn-yel:hover {
    background: #FFC900;
    border: 2px solid #FFC900;
    color: #fff;
  }
  .stopwatch .stopwatch-btn-gre:hover {
    background: #00ABA9;
    border: 2px solid #00ABA9;
    color: #fff;
  }