# Quartus II generated folders and files
/db/*
/incremental_db/*
/output_files/*
!/output_files/*.cdf
/.qsys_edit
/*.txt
/*.qws
/*.rpt
/*.smsg
/*.sopcinfo
/*.summary

# Platform Designer output directory
# /DE1_SOC_D8M_RTL/
