# Quartus II generated folders and files
/db/*
/incremental_db/*
/output_files/*
/.qsys_edit
/*.csv
/*.txt
/*.qws
/*.rpt
/*.smsg
/*.sopcinfo
/*.summary

# Platform Designer output folders
/Computer_System/*
/hps_isw_handoff/*

# Nios II generated folders and files
.metadata/
.qsys_edit/
RemoteSystemsTempFiles/
software/*/obj/
!software/*_bsp/obj/
software/*/*.elf
software/*/*.map
software/*/*.objdump
