# Quartus II generated folders and files
/db/*
/incremental_db/*
/output_files/*
/.qsys_edit
/*.csv
/*.txt
/*.qws
/*.rpt
/*.smsg
/*.sopcinfo
/*.summary

# Platform Designer output directory
/altclkctrl_audio/*
/Computer_System/*
/hps_isw_handoff/*
